.statistics {
}

.title {
  padding: 20px;
  text-align: center;
  background-color: #fff;
  color: #6a6e73;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.statlist {
display: flex;
}

.item {

  display: flex;
  flex-direction: column;
  padding: 20px;
}

.label {
}

.percentage {

}
